/* Made with love by Mutiullah Samim*/

@import url("https://fonts.googleapis.com/css?family=Numans");

.contain-4 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 45rem;
  /* align-content: center; */
  /* background-color: blueviolet; */
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Numans", sans-serif;
}
@media (min-width: 768px) {
  .contain-4 {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .contain-4 {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .contain-4 {
    width: 1170px;
  }
}

.card {
  margin-top: -2%;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(161, 157, 141, 0.301) !important;
  border: rgba(148, 222, 210, 0.157) solid 5px;
  border-radius: 10px;
}

.social_icon span {
  font-size: 30px;
  margin-left: 10px;
  color: #ffc312;
  padding-top: 18px;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend-4 span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.avatar {
  width: 13%;
  margin-left: 42%;
}
.contain {
  margin-top: -10%;
}

i {
  margin-left: 7px;
}
a {
  color: rgba(red, green, rgb(222, 209, 20), alpha);
}
